
body {
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    width: 100%;
}
.head {
    width: 100%;
    height: 750px;
    background-image: url("/blackarrow/images/Rectangle.png");
}
.image_covered {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.darker {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 10, 0.7);
    position: absolute;
    top: 0;
    left: 0;
}
.menu {
    letter-spacing: 0.02em;
    width: 100%;
    height: 28px;
    padding-top: 50px;
    padding-right: 150px;
    padding-left: 200px;
    font-family: 'Montserrat', sans-serif;
}
.menu > ul {
    display: flex;
    justify-content: space-between; 
    margin: 0 auto;
}
.menu > ul a {
    text-decoration: none;
    color: white;
    height: 100%;
}
#lk {
    color:#87D9F1;
}
.arrow_header {
    color: white;
    display: flex;
    margin: 150px 150px 50px 90px;
    flex-direction: column;
}
.arrow_header h1 {
    font-size: 3rem;
}
.resizable_descr {
    margin-top: 13px;
    font-size: 1rem;
}
.main_descr {
    font-weight: 400;
    margin-top: 50px;
    font-size: 1.6rem;
    width: 630px;
}
.baseinfo {
    width: 100%;
    height: 750px;
    padding-top: 100px;
    background-color: #161616;
    position: relative;
}
.infoBlockBar {
    width:100%;
    display: flex;
    position: absolute;
    top: -72px;
    justify-content: space-around;
}
.infoBlock {
    width: 345px;
    height: 140px;
    color: #397C8F;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: 4px 4px 4px rgba(229, 229, 229, 0.18);
    background-color: white;
    border-radius: 6px;
}
.infoBlock p {
    margin: 5%;
    margin-top: 10%;
    align-items: stretch;
    height: 50px;
}
.low {
    display: flex;
    margin: 5%;
    margin-left: 75%;
}
.sign_header {
    letter-spacing: 0.1em;
    color: white;
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 1.8rem;
    justify-content: space-around;
}
.icon_row {
    display: flex;
    justify-content: space-around;
}
.icon_row > div {
    width: 340px;
    text-align: center;
    
}
.icon_row p {
    margin-top: 3rem;
    font-size: 1.2rem;
    color: white;
}
.objects {
    width: 100%;
    height: 750px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 25% 25% 25% 25%;
}
.st_photo {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url("/blackarrow/images/1.png");
}
.nd_photo {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url("/blackarrow/images/2.png");
}
.rd_photo {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
    background-image: url("/blackarrow/images/3.png");
}
.th_photo {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;
    background-image: url("/blackarrow/images/4.png");
}
.photo_label {
    margin:30px;
    margin-top: 300px;
    color: white;
    flex-direction: column-reverse;
    font-size: 1.7rem;
}
.main_photo {
    font-size: 2.2rem;
    color: #87D9F1;
}
.contacts {
    font-weight: 300;
    width: 100%;
    height: 930px;
    color: white;
    background-color: #161616;
    position: relative;
    
}
.contacts > p {
    line-height: 2rem;
    width: 650px;
    text-align: center;
    margin: 0 auto;
    font-size: 1.2rem;
}
.small {
    font-size: 0.9rem !important;
}
.inputs {
    width: 100%;
    margin: 20px auto;
    display: flex;
    color: white;
    font-size: 1rem;
    flex-direction: column;
}
.input {
    display: inline-block;
    width: 500px;
    margin: 5px auto;
    border-radius: 4px;
}
input {
    font-family: 'Montserrat', sans-serif;
    height: 40px;
    color: rgb(54, 54, 54);
}
textarea {
    font-family: 'Montserrat', sans-serif;
    color: rgb(158, 158, 158);
    padding-top: 5px;
    height: 90px;
}
label {
    font-size: 0.9rem;
}
.checktext {
    margin-left: 5px;
    font-size: 0.9rem;
}
.check {
    display: flex;
    height: 15px;
    width: 10%;
    margin: 0;
}
.check_input {
    display: flex;
}
#submit_btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    align-self: center;
    text-align: center;
    width: 170px;
    height: 50px;
    border-radius: 40px;
    text-align: center;
    background-color: #528290;
    border: 0 solid;
    color: white;
    letter-spacing: 0.1em;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
}
.footer {
    width: 100%;
    height: 400px;
    background-color: rgb(10, 9, 9);
    display: flex;
    justify-content: space-around;
}
.logo_container {
    margin-left: 100px;
    padding-top: 80px;
    width: 400px;
}
.logo_container h3 {
    color: white;
    display: flex;
    padding-bottom: 10px;
    font-size: 1.7rem;
    font-weight: 600;
}
.list_container {
    width: 800px;
    padding-top: 80px;
    color: white;
    display: flex;
    justify-content: space-around;
    font-size: 0.8rem;
    line-height: 2rem;
}
.social-logos {
    padding-top: 30px;
    width: 250px;
    display: flex;
    justify-content: space-around;
}
.font_500 {
    font-weight: 500;
}
.mobile {
    display: none;
}

@media (max-width: 1080px) {
    .nav_mobile {
        display: inline-block;
        width: 100%;
    }
    .nav_name {
        height: 25px;
        display: inline-block;
        color: white;
        font-size: 1.3rem;
        margin-left: 10px;
    }
    .burger {
        display: inline-block;
        margin-left: 20px;
        margin-top: 20px;
    }
    .burger > span {
        width: 22px;
        height: 2px;
        border: px solid white;
        border-radius: 3px;
        background-color: white;
        display: block;
        margin-top: 5px;
    }
    #lk_icon {
        height: 35px;
        margin: 10px;
        float: right;
    }
    .arrow_header {
        flex-direction: row;
        margin: 80px 0;
        justify-content: space-around;
    }
    .resizable_descr {
        font-size: 2.2rem;
        text-align: center;
        display: flex;
        padding: 0;
        margin: 0;
    }
    .infoBlockBar_mobile {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 70%;
        color: white;
    }
    .infoBlock_mobile {
        margin: 10px 0;
        width: 100%;
        min-width: 290px;
        height: 80px;
        border-radius: 80px;
        text-align: center;
        background-color: #528290;
        border: 0 solid;
        color: white;
        box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.2);
    }
    .infoBlock_mobile p {
        padding: 26px 20px 20px 20px;
        width: 100%;
        height: 80px;
        font-size: 1rem;
    }
    .baseinfo {
        padding: 0;
        height: 1100px;
    }
    .sign_header {
        padding: 0;
        color: white;
        font-size: 1.8rem;
        text-align: center;
        letter-spacing: 0.1em;
        display: flex;
        justify-content: center;
    }
    .icon_row {
        width: 60%;
        margin: 50px auto;
        display: flex;
        flex-direction: column;
    }
    .icon_row > div {
        width: 100%;
        text-align: center;
        margin: 30px 0;
    }
    .objects {
        height:1200px;
    }
    .st_photo {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .nd_photo {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .rd_photo {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .th_photo {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .photo_label {
        margin:30px;
        text-align: right;
        color: white;
        display: flex;
        align-self: flex-end;
        font-size: 1.7rem;
    }
    .contacts {
        padding-top: 80px;
        width: 100%;
        height: 750px;
    }
    .contacts > p {
        line-height: 2rem;
        width: 100%;
        text-align: center;
        margin-top: 50px;
        font-size: 1.2rem;
    }
    .description_mobile {
        display: block;
        text-align: center;
        margin-top: 50px;
        width: 100%;
    }
    .inputs {
        width: 90%;
        box-sizing: border-box;
    }
    .input {
        width: 100%;
        box-sizing: border-box;
    }
    .optional {
        display: none !important;
    }
    .footer {
        width: 100%;
        height: 500px;
        background-color: rgb(10, 9, 9);
        flex-direction: column; 
        box-sizing: content-box;
    }
    .logo_container {
        margin: 0;
        padding-top: 80px;
        width: 100%;
    }
    .logo_container h3 {
        color: white;
        display: flex;
        margin-left: 50px;
        font-size: 1.7rem;
        font-weight: 600;
    }
    .logo_container > p {
        display: flex;
        margin-left: 50px;
        color: #87D9F1;
        font-size: 1.4rem;
    }
    .social-logos_mobile {
        margin-left: 50px;
        display: flex;
        justify-content: space-between;
        width: 220px;
    }
    .list_container {
        margin-left: 50px;
        padding-top: 30px;
        width: 300px;
        min-width: 280px;
        color: white;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 0.8rem;
        line-height: 2rem;
    }
}